# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Unicamp
/.vs/*
/M2/W4
/M3/W10/INF1900_M3_Exercicio_5/.vs/INF1900_M3_Exercicio_5/v17/Browse.VC.db
/M3/W10/INF1900_M3_Exercicio_5/.vs/INF1900_M3_Exercicio_5/v17/Browse.VC.db-shm
/M3/W10/INF1900_M3_Exercicio_5/.vs/INF1900_M3_Exercicio_5/v17/Browse.VC.db-wal
/M3/W10/INF1900_M3_Exercicio_5/.vs/INF1900_M3_Exercicio_5/v17/Browse.VC.opendb
/M3/W10/INF1900_M3_Exercicio_5/.vs/INF1900_M3_Exercicio_5/v17/ipch
/M4/W11/[INF1900]Lab2/.vs/[INF1900]Lab2
/M4/W11/[INF1900]Lab2/.vs/[INF1900]Lab2/v17/Browse.VC.db
/M4/W11/[INF1900]Lab2/.vs/[INF1900]Lab2/v17/Browse.VC.db-shm
/M4/W11/[INF1900]Lab2/.vs/[INF1900]Lab2/v17/Browse.VC.db-wal
/M4/W11/[INF1900]Lab2/.vs/[INF1900]Lab2/v17/Browse.VC.opendb
/M4/W11/[INF1900]Lab2/.vs/[INF1900]Lab2/v17/ipch/AutoPCH/82d63ff640b32823/[INF1900]LAB2.ipch
/M4/W11/[INF1900]Lab2/.vs/[INF1900]Lab2/FileContentIndex/6f0df6bc-2222-44da-8e54-30eb9faa7b48.vsidx
